@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography"; 

/*----------  components
------------------------------------------------------------------------------*/
// @import "components/cover";
// @import "components/buttons";
// @import "components/dropdown";
// @import "components/navigation";

/*----------  layout
------------------------------------------------------------------------------*/
@import "layout/header"; 
// @import "layout/footer";      
  
/*----------  pages
------------------------------------------------------------------------------*/


 
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    padding-left: 24px;
    padding-right: 24px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0,0);
    border: 0;
}
.hidden {
    display: none;
}

