@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography"; 

/*----------  components
------------------------------------------------------------------------------*/
// @import "components/cover";
@import "components/buttons";
@import "components/cards";
// @import "components/dropdown";
// @import "components/navigation";

/*----------  layout
------------------------------------------------------------------------------*/
@import "layout/header"; 
@import "layout/hero"; 
@import "layout/features"; 
// @import "layout/footer";      
  
/*----------  pages
------------------------------------------------------------------------------*/


 
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: $neutral_lvl_1;
    overflow-x: hidden;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0,0);
    border: 0;
}
.hidden {
    display: none;
}

// Paddings
header, section, footer {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

section.hero {
    padding: 0;
}

@media screen and (min-width: 1000px) {
    header, section, footer {
        padding-left: 165px;
        padding-right: 165px;
    }
    header, section, footer {
        padding-left: 156px;
        padding-right: 156px;
    }
}

