.features {
    background-color: $neutral_lvl_3;
    text-align: center;
    padding-top: 64px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 32px;
    h2 {
        margin-bottom: 14px;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.02em;
    }
}
.features > p {
    margin-bottom: 56px;
}

