header {
    width: 100%;
    // background-color:  red;
    position: relative;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .main-menu {
//     display: none;
// }

nav.main-menu {
    // background-color: orange;    
    position: absolute;
    display: block;
    width: 100%;
    top: 88px;
    left: 0;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    

    // transform: translateY(100%);
    // transition: transform 350ms ease-out;
    a {
        color: $primary_lvl_3;
        font-size: 20px;
        letter-spacing: -0.085em;
    }
    ul {
        background-color: $neutral_lvl_1;
        border-radius: 4px;
        padding: 32px;
        width: 100%;
    }
    ul li:not(:last-of-type) {
        margin-bottom: 25px;
    }
    &::before {
        background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0.01) 100%);
        position: absolute;
        content: '';
        top: -24px;
        left: 0;
        display: block;
        width: 100%; 
        height: calc(100vh - 64px);
        z-index: -1;
    }
}

// nav.main-menu__mobile.o {
//     transform: translateY(0%);
// }

// MEDIA QUERIES

@media screen and (min-width: 500px) {
    header {
        // background-color: rgb(201, 253, 255);
        height: 80px;
    }
    .logo-wrapper {
        padding-top: 6px;
        margin-right: 5px;
    }
    nav.main-menu {
        display: block;
        text-align: left;
        transform: none;
        position: static;
        padding: 0;  
        width: auto;
    }
    nav.main-menu::before {
        content: none;
        // background-image: none;
        // position: unset;
        // top: unset;
        // left: unset;
        // display: unset;
        // width: auto; 
        // height: unset;
        // z-index: unset;
    }  
    
    nav.main-menu a {
        font-size: $fsize_primary;
        color: $neutral_lvl_4;
        letter-spacing: -0.035em;
    }
    
    nav.main-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;

        // background-color: rgb(197, 228, 167);
        // border-radius: 4px;        
        width: auto;
    }
    nav.main-menu ul li {
        position: relative;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    nav.main-menu ul li:not(:last-of-type) {
        margin-bottom: 0;
    }

    nav.main-menu ul li::before {
        content: '';
        position: absolute;
        bottom: -4px;
        height: 4px;
        width: 100%;
        left: 0;
        transition: .3s;
        background: rgb(49,211,92);
        background: linear-gradient(180deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
        opacity: 0;
    }
    .main-menu ul li:hover::before {
        bottom: 0;
        opacity: 1;
    }
    .main-menu ul li:not(:last-of-type) {
        margin-right: 20px;
    }
    .main-menu ul li a:hover {
        color: $primary_lvl_3;
    }    
}

@media screen and (min-width: 1000px) {
    .main-menu ul li:not(:last-of-type) {
        margin-right: 34px;        
        margin-right: 30px;        
    }
    .logo-wrapper {
        padding-top: 6px;
        margin-right: 22px;
    }
}



