// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
// ----- Font family-----
$ffamily_primary: 'Open Sans';
$ffamily_accent: 'Raleway';

// ----- Font size-----
$fsize_primary: 12px;

// ----- Colors [LIGHT] -----

$hover: #6B9BFF;

$primary_lvl_1: hsl(192, 70%, 51%);
$primary_lvl_2: hsl(136, 65%, 51%);
$primary_lvl_2: hsl(233, 26%, 24%);


$neutral_lvl_1: hsl(0, 0%, 100%);
$neutral_lvl_2: hsl(0, 0%, 98%);
$neutral_lvl_3: hsl(220, 16%, 96%);
$neutral_lvl_4: hsl(233, 8%, 62%);


// $accent_prim:  hsl(224, 93%, 58%);
// $accent_sec: hsl(170, 45%, 43%);


